body {
    background-color: #f3f7bb; 
  }
  body.nightBody {
    background-color: #2f0349; 
  }
  
  .box {
    display: flex;
    padding: 10px;
    border: 2px solid #aaa719;
    background-color: #c8c9b6;
    width: 25%;
    margin-left: 45%;
    
    font-size: 1.4em;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
  }

  .fieldBlock {
    display: flex;
    padding: 10px;
    border: 2px  #aaa719;
    width: 25%;
    margin-left: 0%;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 10px;
  }

  .bigFieldBlock {
    display: flex;
    position: fixed;
    padding: 10px;
    border: 2px  #aaa719;
    width: 25%;
    margin-left: 0%;
    flex-direction: column;
    align-items: left;
    margin-bottom: 10px;
    padding: 5px 10px;
    top: 100px;
    left: 0;
  }

  .groupOfButtons {
    display: flex;
    position: fixed;
    padding: 10px;
    border: 2px #aaa719;
    width: 25%;
    margin-left: 0%;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 20px;
    top: 0;
    left: 0;
  }
  
  button.btn {
    /*margin-right: 10px;*/
    padding: 10px;
    /*margin-top: 10px;*/
    cursor: pointer;
    font-size: 0.65em;
    outline: none;
    align-items: center;
  }
  
  .btn.fieldFirst {
    background-color: #a07f49;
    border: 1px solid #1f1100;
    height: 50px;
    width: 50px; 
    font-size: 200%;
   
  }
  
  .btn.fieldSecond {
    background-color: #bde74a;
    border: 1px solid #1f1100;
    height: 50px;
    width: 50px; 
    font-size: 200%;

  }

  .btn.fieldThird {
    background-color: #3f940d;
    border: 1px solid #1f1100;
    height: 50px;
    width: 50px; 
    font-size: 200%;

  }

  .btn.talk {
    background-color: #ffde4a;
    border: 2px solid #b6821a;
    height: 50px;
    width: 50px; 
    right: 120px;
    top: 5px;
    position: fixed;
    padding: 5px 10px;
    font-size: 200%;

  }
  
  .btn.talk:hover {
    background-color: #ffc04a;
    border-color: #b6821a;
    height: 50px;
    width: 50px; 
    right: 150px;
    top: 5px;
    position: fixed;
    padding: 5px 10px;
  }

  .btn.talkIn {
    background-color: #ee8522;
    border-color: #946912;
    height: 50px;
    width: 50px; 
    right: 150px;
    top: 5px;
    position: fixed;
    padding: 5px 10px;
    font-size: 200%;
  }

  .btn.talkIn:hover {
    background-color: #88a815;
    border: 2px solid #3b4908;
    height: 50px;
    width: 50px; 
    right: 150px;
    top: 5px;
    position: fixed;
    padding: 5px 10px;
  }

  .btn.mainShop {
    background-color: #ffde4a;
    border: 2px solid #b6821a;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    font-size: 160%;

  }
  .btn.mainShop:hover {
    background-color: #ffc04a;
    border-color: #b6821a;
    margin-right: 10px;
  }

  .btn.selectedShop {
    background-color: #ff641c;
    border: 2px solid #b6821a;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    font-size: 160%;

  }


  .btn.dayOrNight {
    background-color: #c47e24;
    color: rgb(0, 0, 0);
    font-size: 150%;
    border: 2px solid #a07215;
    height: 50px;
    width: 100px; 
    /*right: 0;
    top: 0;*/
  }

  .btn.answer1{
    background-color: #ff641c;
    border: 1px solid #7e310d;
  }
  .btn.answer2{
    background-color: #78b83c;
    border: 1px solid #41661e;
  }
  .btn.answer3{
    background-color: #e0b232;
    border: 1px solid #8a6c1b;
  }
  .btn.answer4{
    background-color: #997192;
    border: 1px solid #4d2f47;
  }


  #topBtnBar {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    /*border: #000 1px solid;*/
    padding: 5px 10px;
    overflow: hidden;
  }

  #topBtnBarT {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 70px;
    height: 50px;
    /*border: #000 1px solid;*/
   
    overflow: hidden;
    flex-direction: column;
  }